body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

[hidden] {
  display: none;
}

/* Focusable elements */
[tabindex],
a[href],
button:not([disabled]) {
  border: 1px solid rgba(0, 0, 255, 0.4);
  background-color: rgba(0, 0, 255, 0.2);
}

[title] {
  padding: 5px;
  margin: 10px;
  flex-grow: 1;
}

[title]::after {
  content: attr(title);
}

[data-spatial-navigation-contain] {
  border: 1px solid rgba(0, 0, 255, 0.4);
  background-color: rgba(0, 0, 255, 0.2);
}

a[data-focused] {
  border: 1px solid rgba(255, 255, 0, 0.4);
  background-color: rgba(255, 255, 0, 0.2);
}

a:focus {
  outline: 0;
  border: 1px solid rgba(255, 0, 0, 0.4);
  background-color: rgba(255, 0, 0, 0.2);
}

.flex {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  border: 1px solid rgba(0, 255, 0, 0.4);
  background-color: rgba(0, 255, 0, 0.2);
}

.flex::after {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 10px;
}

.flex-col {
  flex-direction: column;
}

.flex-col::after {
  content: none;
}

.flex-col::before {
  content: attr(title);
  margin-right: 10px;
  margin-top: 5px;
}
