body {
  font-family: sans-serif;
}

:focus {
  outline: 0;
}

[data-focus] {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 700px;
  border: 1px solid blue;
  padding: 5px;
  margin: 10px;
  background-color: rgba(0, 0, 255, 0.2);
}

[data-focus][data-orientation='vertical'] {
  flex-direction: column;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

[data-focused] {
  background-color: yellow;
}
