body {
  font-family: sans-serif;
}

:focus {
  outline: 0;
}

[data-focus] {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 700px;
  padding: 5px;
  margin: 10px;
}

[data-focus][data-orientation='vertical'] {
  flex-direction: column;
}

[data-focus-container] {
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.2);
}

[data-focus-section] {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

[data-focusable] {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
}

[data-focused] {
  background-color: yellow;
}

[data-focus][title][data-orientation='horizontal']::after {
  content: attr(title);
  margin-left: auto;
  margin-right: 5px;
  margin-top: 10px;
}

[data-focus][title][data-orientation='vertical']::before {
  content: attr(title);
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
}

[data-focusable][title]::after {
  content: attr(title);
}

[hidden] {
  display: none;
}
